.title {
text-align: center;
font-weight: 600;
font-family: sans-serif;
color: #0064b1;
font-size:2.1em;
}
thead{
	visibility: hidden;
}
tr.google-visualization-table-tr-even{
	background-color: #F6E3CE;
}
td.google-visualization-table-td {
	height: 5em;
	width: 20em;
	font-family: sans-serif;;
	font-size: 1em;

}
tr:first-child {
	background-color: #0064b1;
	color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}
td:first-child {
	font-weight: bold;
	text-align: center;
}