<footer>
  <div>
    <section>
      <h3>Helpful Links</h3>
      <ul>
      {% for link_hash in site.helplinks %}
        {% for link in link_hash %}
          <li>
            <a href="{{ link[1] }}">{{ link[0] }}</a>
          </li>
        {% endfor %}
      {% endfor %}
      </ul>
    </section>
    {% for infoblock in site.infoblocks %}
      <section>
        <h3>{{ infoblock[0] }}</h3>
        <p>{{ infoblock[1] }}</p>
      </section>
    {% endfor %}
    <aside>
      <a href="http://www.naesc.org"><img src="/img/naesc_logo.jpg" width="100" height="100" alt="NAESC Logo"/></a>
      <a href="http://www.uta.edu"><img src="/img/uta_logo.jpg" width="100" height="100" alt="UTA Logo"/></a>
    </aside>
  </div>
</footer>