<footer>
  <div>
    <section>
      <h3>Helpful Links</h3>
      <ul>
        <li>
          <a href="#">UTA Home Page</a>
        </li>
        <li>
          <a href="#">College of Engineering</a>
        </li>
        <li>
          <a href="#">Facebook Page</a>
        </li>
      </ul>
    </section>
    <section>
      <h3>General UTA Info</h3>
      <p>University of Texas at Arlington <br> 701 S. Nedderman Drive <br> Arlington, TX 76019</p>
    </section>
    <aside>
      <a href="http://www.naesc.org"><img src="/img/naesc_logo.jpg" width="100" height="100" alt="NAESC Logo"/></a>
      <a href="http://www.uta.edu"><img src="/img/uta_logo.jpg" width="100" height="100" alt="UTA Logo"/></a>
    </aside>
  </div>
</footer>